* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    font-family: 'Press Start 2P', monospace;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/sunrise.gif') center/cover no-repeat;
}

.nav {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid rgba(255, 200, 0, 0.6);
    /* change nya */
    padding: 20px 8px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-nav {
    padding: 0 8px 15px;
}

.title {
    font-size: 14px;
    font-weight: 800;
    line-height: 1.2;
}

.henyo {
    background: linear-gradient(90deg, gold, #fff3b0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.sugbo {
    color: white;
}

.top-nav p {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 6px;
}

.top-nav hr,
.logout hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
}

.links {
    flex: 1;
    padding: 10px 6px;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.links a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 8px;
    border-radius: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    transition: 0.2s;
}

.links a:hover {
    background: rgba(255, 255, 255, 0.15);
    color: white;
    transform: translateX(2px);
}

.links a.active {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-left: 3px solid gold;
}

.links i {
    width: 14px;
    text-align: left;
}

.logout {
    padding: 10px 8px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
}

.logout:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
}